
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>adicionar_cao</title>
    <style media="screen">
        #custom-button{
            padding:10px;
            color:white;
            background-color:#009578;
            border:1px solid #000;
            border-radius:5px;
            cursor:pointer;
        }
        #custom-button:hover{
            background-color:#00b28f
        }
        #custom-text{
            margin-left:10px;
            font-family:sans-serif;
            color:#000;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <td>
                Nome
            </td>
            <td>
                <input type="text" placeholder="Nome" name="" />
            </td>
        </tr>
        <tr>
            <td>
                Raça
            </td>
            <td>
                <input type="text" name="" />
            </td>
        </tr>
        <tr>
            <td>
                Género
            </td>
            <td>
                <input type="radio" name="Género" />Macho
                <input type="radio" name="Género" />Fêmea
            </td>
        </tr>
        <tr>
            <td>
                Peso
            </td>
            <td>
                <input type="text" name="" />
            </td>
        </tr>
        <tr>
            <td>
                Idade
            </td>
            <td>
                <input type="text" name="" />
            </td>
        </tr>
        <tr>
            <td>
                Data Chegada ao Canil
            </td>
            <td>
                <input type="text" name="" />
            </td>
        </tr>
    </table>

    <br />

<form method="post" enctype="multipart/form-data" asp-controller="home" asp-action="adicionar_cao">
    <input type="file" id="real-file"  name="file" />
    <button type="submit" id="custom-button" name="submit">Submeter Imagem</button>
    @*<span id="custom-text">Ainda não foi escolhida nehuma imagem...</span>*@
</form>

    <script type="text/javascript">
        const realFileBtn = document.getElementById("real-file")
        const customBtn = document.getElementById("custom-button")
        const customTxt = document.getElementById("custom-text")

        realFileBtn.addEventListener("change", function () {
            if (realFileBtn.value) {
                customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
            }
            else {
                customTxt.innerHTML = "Ainda não foi escolhida nehuma imagem..."
            }
        });
    </script>

</body>
</html>
