@{ ViewData["Title"] = "Cães"; }

<head>
    <style>
        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2 style="color:white">Cães residentes em este canil</h2>
    <p>Estes são todos os cães que estão de momento a residir no canil.</p>

    <table style="width:100%">
        <tr>
            <td>
                <p>img do cao</p>
            </td>
            <td>
                <p>informaçoes do cao</p>
                <p>informaçoes do cao</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>img do cao2</p>
            </td>
            <td>
                <p>informaçoes do cao2</p>
                <p>informaçoes do cao2</p>
            </td>
        </tr>
    </table>
</body>