@{ ViewData["Title"] = "canil"; }

<h2 style="color:white">Canil Loved Giant</h2>
<p>O objetivo deste canil é oferecer uma casa aos cães que não a têm até estes arranjarem um novo dono.</p>
<br />
<p>
    Contactos:
    <br />Email: LovedGiants@exemplo.pt
    <br />Telefone 969999999
    <br />Morada [Lugar ficticio]
</p>