@{ ViewData["Title"] = "doaçoes"; }

<style>
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: normal;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: dimgrey;
        width: 300px;
    }
</style>

<h2 style="color:white">Ajude o canil</h2>
<p>O canil precisa da sua ajuda, para manter o bom funcionamento e o bem estar dos cães, pedimos que faça uma doação de qualquer quantia.</p>
<p></p>
<button class="button">Doar</button>