@{
    ViewData["Title"] = "Home Page";
}

<div class="separator"></div>

<div class="container1">
    <div class="row">
        <div class="column">
            <img src="~/Imagens/adorable-white-pomeranian-puppy-spitz-921029690-5c8be25d46e0fb000172effe.jpg" style="width: 100%" />
        </div>
        <div class="column">
            <img src="~/Imagens/dog-puppy-on-garden-royalty-free-image-1586966191.jpg" style="width: 100%" />
        </div>
        <div class="column">
            <img src="~/Imagens/unnamed.jpg" style="width: 100%" />
        </div>
    </div>
</div>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>