@page
@model Canil.Pages.Accounts.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "/Views/Shared/_LayoutLojaUser.cshtml";
}

<form method="post">
    <input asp-for="Input.UserName" />
    <input asp-for="Input.Password" />
    <input type="submit" value="Sign In" />
</form>