@page
@model LoginModel

@{
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    <form>
        <div class="imgcontainer">
            <img src="~/Imagens/Login/BraxFeb19.jpg" alt="Avatar" class="avatar">
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="container">
            <label asp-for="Input.UserName" for="uname"><b>Username</b></label>
            <input asp-for="Input.UserName" type="text" placeholder="Enter Username" name="uname" required>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>

            <label asp-for="Input.Password" for="psw"><b>Password</b></label>
            <input asp-for="Input.Password" type="password" placeholder="Enter Password" name="psw" required>
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <button type="submit" class="btn draw-border">Login</button>

            <div class="checkbox">
                <label asp-for="Input.RememberMe" style="margin:0;">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        <div class="container" style="background-color:#101010">

            <button type="button" class="cancelbtn" onclick="location.href='@Url.Action("index", "home")'">Cancel</button>
            @*<span class="psw">Forgot <a href="#">password?</a></span>*@
            <span class="psw">Forgot your<a id="forgot-password" asp-page="./ForgotPassword"> password?</a></span>
        </div>
    </form>
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}